{% extends 'admin/admin_layout.html' %}
{% load static %}
{% block content %}
<div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white me-2">
          <i class="mdi mdi-home"></i>
        </span> Dashboard
      </h3>
      <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">
            <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
          </li>
        </ul>
      </nav>
    </div>

    <div class="row">
      <div class="col-md-7 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="clearfix">
              <h4 class="card-title float-start">View Area</h4>
              <div id="visit-sale-chart-legend" class="rounded-legend legend-horizontal legend-top-right float-end"></div>
            </div>
            




<table class="table" ui-jq="footable" ui-options='{
  "paging": {
    "enabled": true
  },
  "filtering": {
    "enabled": true
  },
  "sorting": {
    "enabled": true
             }}'>
  <tr>
  
  
      <th>Area Code</th>
    
      <th>Area Name</th>
    <th>Actions</th>
      


</tr>
{% for a in alist %}
<tr>
  <td>{{a.area_code}}</td>
  <td>{{a.area_name}}</td>
  <td>
    
      <a href="{% url 'edit_data' a.area_id %}" class="btn btn-warning">Edit</a>
    <a href="{% url 'delete_data' a.area_id %}" class="btn btn-danger">Delete</a>
  </td>
</tr>
{% endfor %}

</table>


          </div>
        </div>
      </div>

      <div class="col-md-5 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="clearfix">
              <h4 class="card-title float-start">Add Area</h4>
              <div id="visit-sale-chart-legend" class="rounded-legend legend-horizontal legend-top-right float-end"></div>
            </div>
            <form action="{% url 'save_data' %}" method="post">
             {% csrf_token %} 
            <div class="form-group">
            <label>Area code</label>
                  <input type="text" name="acode" required class="form-control"></div>
                  <div class="form-group">
                <label>Area Name</label>
                <input type="text" name="aname" required  class="form-control">
            
              </div>
            <input type="submit" value="save"class="btn btn-success">
            <input type="submit" value="cancel"class="btn btn-danger">

            


          </form>
            


          </div>
        </div>
      </div>
     
    </div>
    
                  
   
                 
               
          </div>
                  {% endblock %}