{% extends 'merchant_dashboard/merchant_layout.html' %}
{% load static %}
{% block content %}
<div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white me-2">
          <i class="mdi mdi-home"></i>
        </span> Dashboard
      </h3>
      <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">
            <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
          </li>
        </ul>
      </nav>
    </div>
    
    <div class="row">
        
      <div class="col-md-2.5 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="clearfix">
              <h4 class="card-title float-start">ADD PRODUCT</h4>
              <div id="visit-sale-chart-legend" class="rounded-legend legend-horizontal legend-top-right float-end"></div>
            </div>
            <form action="{% url 'product_update_data' %}" method="post">
             {% csrf_token %} 
            <div class="form-group">
            <label>product name</label>
                  <input type="text" name="pname" required class="form-control" value="{{newdata.product_name}}" ></div>



                  <div class="form-group">
                <label>product code</label>
                <input type="text" name="pcode" required  class="form-control" value="{{newdata.product_code}}" >
            
              </div>

              
            
              <div class="form-group">
                <label>Cost price</label>
                <input type="text" name="pcost" required  class="form-control"value="{{newdata.cost_price}}" >
            
              </div>
              <div class="form-group">
                <label>sales price</label>
                <input type="text" name="psales" required  class="form-control"value="{{newdata.sales_price}}" >
            
              </div>

             
                
                <div class="form-group">
                  <label>Category</label>
                  <select name="pcategory" id="category" required class="form-control">
                    <option value="none">Select</option>
                    {% for p in slist %}
                      <option value="{{ p.sub_category_id }}">{{ p.category_type }}</option>  
                    {% endfor %}
                  </select>
                </div>
                
                <input type="hidden" name="pid" required  class="form-control"value="{{newdata.product_id}}">
        


            <input type="submit" value="save"class="btn btn-success">
            <input type="submit" value="cancel"class="btn btn-danger">

            


          </form>
            


          </div>
        </div>
      </div>
     
    </div>
    
                  
   
                 
               
          </div>
                  {% endblock %}