{% extends 'customer_dashboard/customer_layout.html' %}
{% load static %}
{% block content %}
<main>
<section class="latest-product-area padding-bottom">
<div class="container">
<h2>My Orders</h2>
<hr>
<div class="row">
<div class="col-lg-10">
<div class="card">
<div class="card-header">

</div>
<div class="card-body">

    <table class="table table-bordered mx-auto" style="max-width: 80%; margin-top: 20px;">
      
    </table>

    <table class="table table-bordered mx-auto" style="max-width: 80%; margin-top: 20px;">
        
    </table>

    <table class="table table-bordered mx-auto" style="max-width: 80%; margin-top: 20px;">
       
        <tbody>
            {% for o in clist %}
            <tr>
               
                <td><button style="background-color: #4CAF50; color: white; border: none; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; cursor: pointer;">
                    <a href="{%url 'display_completed_order' o.cust_id %}" style="color: white; text-decoration: none;">Order Details</a>
                </button>
                
                </td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="text-center">
        
    </div>

    <hr>

</div>
</div>
</div>
</div>
</div>
</section>
</main>
{% endblock %}
